@media only screen and  (max-width: 992px) {  /* NB*/
body {
    background-color: white;
  }
 article {
    width:auto;
    height:91vh;
  } 
.kikd{
 margin-left:13vh;
   margin-top: 15vh;
}
 .materi{
 margin-left:13vh;
   margin-top: 5vh;
}
.info{
 margin-left:13vh;
   margin-top: 5vh;
}
}


