

@media only screen and  (max-width: 1280px) {
body {
    background-color: orange;
  }
}

@media only screen and  (max-width: 1024px) {
body {
    background-color: white;
  }
 .kiri {
    width:49.5vw;
    height:63.5vh;
		font-size: 14px;
  } 
 .kanan {
	 width:48.9vw;
    height:63.5vh;
	font-size: 12px;
  } 

.footer {
        margin-top: 385px;
        }
.des {
  height: 215px;
  	font-size: 14px;
}

.aut {
  height: 264px;
}
}


